@font-face {
    font-family: titulo;
    src: url("fuentes/LuckiestGuy-Regular.ttf");
}

@font-face {
    font-family: texto;
    src: url("fuentes/IndieFlower-Regular.ttf");
}

:root {
    --color1: #ab7d7d;
    --color2: rgb(255, 228, 228);
    --color3: rgb(167, 62, 62);
    --color4: #0fc;
    --colorFondo: #000;
    --colorText: #fff;
}

* {
    margin: 0px;
    padding: 0px;
}

/*----------------------------------------------------------*/

body {
    overflow-x: hidden;
    font-family: texto, sans-serif;
    background-color: var(--colorFondo);
    font-weight: 100;
    color: var(--colorTexto);
    font-size: 18px;
    cursor: default;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.22);
}

/*----------------------------------------------------------*/
header {
    /*border: 1px solid #ff0;*/
    user-select: none;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    top: 0;
    width: calc(100% - 80px);
    height: 114px;
    font-size: 46px;
    font-weight: 100;
    letter-spacing: 6px;
    padding: 0 40px;
    color: var(--color1);
    background-color: #000;
    box-shadow: 10px 10px 10px black;
    text-shadow: 1px 1px 2px var(--color2),
        1px 1px 2px var(--color2),
        1px 1px 2px var(--color2),
        1px 1px 2px var(--color2),
        1px 1px 2px var(--color2),
        1px 1px 2px var(--color2);
}

header>span {
    font-family: titulo;
}

#imgFondo {
    position: fixed;
    top: 100px;
    width: calc(100% - 200px);
    opacity: 0;
    transition: opacity 1s;
}


#lista {
    user-select: none;
    position: absolute;
    top: 120px;
    left: calc(100% - 440px);
    padding: 30px;
    width: 420px;
    font-size: 29px;
    background-color: rgba(0, 0, 0, .4);
    padding-bottom: 120px;
}

.elemento {
    color: var(--color2);
    transition: color .5s;
}

.elemento>img {
    filter: invert();
    width: 20px;
    margin-right: 10px;
    opacity: 0.5;
}

.elemento:hover {
    color: var(--color3);
}

/*-------------------------------*/
#reproductor {
    position: fixed;
    width: calc(100% - 440px);
    min-width: 380px;
    bottom: 130px;
    left: 20px;
    margin-top: 40px;
}

#reproductor>audio {
    width: 100%;
    filter: invert(100);
}

/*-------------------------------*/
footer {
    position: fixed;
    bottom: 0px;
    /*width: calc(100% - 400px);*/
    width: 100%;
    height: 100px;
    display: flex;
    color: var(--color2);
    font-size: 28px;
    justify-content: space-around;
    font-size: 28px;
    background-color: black;
    box-shadow: -10px -10px 10px black;
}

footer>div {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 20px 1%;
    transition: color .5s;
    color: var(--color2);
}

footer>div:hover {
    color: var(--color3);
}

footer>div>a>img {
    margin-right: 20px;
    filter: invert(100%);
}

footer a {
    color: var(--color2);
    text-decoration: none;
}

footer a:hover {
    color: inherit;
}

footer a:visited, footer a:active {
    color: inherit;
}