@font-face {
    font-family: texto;
    src: url("fuentes/IndieFlower-Regular.ttf");
}

@font-face {
    font-family: lista;
    src: url('fuentes/Oswald-VariableFont.ttf');
}

:root {
    --texto: rgb(167, 62, 62);
    --colorFondo: #0f0000;
    --gris: #666;
}

/* Reset básico y colores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--colorFondo);
    color: white;
    font-family: texto;
    height: 100vh;
    display: grid;
    /* Definimos 4 filas: auto, auto, la lista crece (1fr), auto */
    grid-template-rows: auto auto 1fr;
    overflow: hidden;
    /* Evita el scroll general de la página */
    user-select: none;
}

main {
    flex: 1;
}

/* Secciones */
header,
section,
footer {
    padding: 20px;
    text-align: center;
}

/* 1º Título -----------------------------------------------------------*/
.titulo {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: nowrap;
    /* FUERZA a que la imagen se quede a la derecha siempre */
}

.titulo h1 {
    font-size: clamp(5rem, 5vw, 2.5rem);
    /* Tamaño fluido: se adapta al ancho */
    color: var(--texto);
    letter-spacing: 0.4rem;
    white-space: nowrap;
    /* Evita que el texto se parta en dos líneas */
}

.titulo img {
    height: clamp(14rem, 5vw, 2.5rem);
    /* La imagen escala igual que el texto */
    width: auto;
    /* Impide que la imagen se aplaste */
}

/* 2º Eslogan ----------------------------------------------------------*/
.lellenda {

    font-size: 2.4rem;
}

.lellenda>p>span:nth-child(1) {
    color: #339933;
}

.lellenda>p>span:nth-child(2) {
    color: #663399;
}

.lellenda>p>span:nth-child(3) {
    color: #993333;
}

/* 3º Listado con Scroll ----------------------------------------------*/
.musica-container {
    overflow-y: auto;
    /* Centrado horizontal */
    margin: 10px auto;
    width: 100%;
    font-size: 2.4rem;


    /* Margen lateral en móviles */
    max-width: 780px;
    /* Ancho máximo para que no se estire demasiado */
    font-family: texto;

}

.lista-musical {
    list-style: none;
    text-align: center;
    padding-bottom: 14rem;
    /* Centra el texto de cada título */
}

.lista-musical li {
    display: flex;
    /* Activa el modo flexbox */
    align-items: center;
    /* Alineación vertical perfecta */
    list-style: none;
    /* Opcional: quita el punto de la lista */
    gap: 6px;
    padding: 0.4rem;
    letter-spacing: 0.1rem;
    color: var(--gris);
}

/* Estilo del scrollbar para que sea discreto */
.musica-container::-webkit-scrollbar {
    width: 8px;
}

.musica-container::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 4px;

}

.lista-musical .elemento {
    color: var(--colorText);
}

.lista-musical .elemento>img {
    margin-right: 30px;
}

/* 4º Pie de página ----------------------------------------------------*/
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    ;
    display: grid;
    /* Tres columnas iguales */
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    background-color: #000;
    text-transform: capitalize;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer div a {
    text-decoration: none;
    font-size: 3rem;
    color: #fff;
}

footer div a {
    text-decoration: none;
}

footer div img {
    margin-right: 20px;
    filter: invert();
}

/*-------------------------------*/
#reproductor {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-size: 2.8rem;
    color: #fff;
    background-color: #000;
}

#reproductor>audio {
    margin-top: 2rem;
    filter: invert() brightness(3);
    zoom: 2;
    width: 70%;
}
/* -----AMPLIACION ---------*/
#ampliacion {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    
    min-height: 100vh;
    background-color:#000;
    z-index: 100;
}

#ampliacion img {
    max-width: 100%;
    height: auto;
    border: 20px solid #fff;
}

/* Responsive: En pantallas muy pequeñas, el pie se apila --------------------------------*/
@media (max-width: 800px) {
    footer {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .titulo {
        font-size: 1.8rem;
    }

}