body {

    font-family: texto, sans-serif;
    background-color: var(--colorFondo);
    font-weight: 100;
    color: var(--colorTexto);
    font-size: 18px;
    cursor: default;
}

/*----------------------------------------------------------*/
header {
<<<<<<< HEAD
    user-select: none;
    position: fixed;
=======
    position: absolute;
>>>>>>> 8fb8301a5fd44eaf995467b3108dc9968a9c4ccb
    top: 0;
    width: calc(100% - 480px);
    height: 200px;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 10px;
<<<<<<< HEAD
=======
    color: var(--color1);
>>>>>>> 8fb8301a5fd44eaf995467b3108dc9968a9c4ccb
    padding: 0 40px;
    color: var(--color1);
    text-shadow: 1px 1px 2px var(--color2),
        1px 1px 2px var(--color2),
        1px 1px 2px var(--color2),
        1px 1px 2px var(--color2),
        1px 1px 2px var(--color2),
        1px 1px 2px var(--color2);

}

header>span {
    font-family: titulo;
}

section {
    position: absolute;
    top: 0;
    width: 100%;
}

section>img {
    position: absolute;
    top: 100px;
    width: calc(100% - 200px);

}

<<<<<<< HEAD
section>div {
    user-select: none;
=======
#lista {
>>>>>>> 8fb8301a5fd44eaf995467b3108dc9968a9c4ccb
    position: absolute;
    top: 100px;
    left: calc(100% - 400px);
    padding: 30px;
    width: 340px;
    font-size: 29px;
    background-color: rgba(255, 255, 255, .12);
    border-radius: 40px 0 0 40px;


}

#lista>div {
    color: var(--color2);
    transition: color .5s;
}

#lista>div:hover {
    color: var(--color3);
}

#player {
    margin-top: 40px;
    opacity: .7;
}

/*-------------------------------*/
footer {
    position: fixed;
    bottom: 0px;
    width: calc(100% - 400px);
    display: flex;
    color: var(--color2);
    justify-content: center;
    height: 70px;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 0 40px 0 0;
}

footer>div {
    display: inline-block;
    position: relative;
    width: 30%;
    margin: 20px 1%;
}

footer>div>a>img {
    margin-right: 20px;
    filter: invert(100%);
}

footer a {
    color: var(--color2);
    text-decoration: none;
    transition: color .5s;
}

footer a:hover {
    color: var(--color3);
}


footer a:visited, footer a:active {
    color: inherit;
}