@font-face {
    font-family: logo;
    src: url("fuentes/VINERITC.TTF");
}

@font-face {
    font-family: titulo;
    src: url("fuentes/ubuntu.woff");
}

@font-face {
    font-family: texto;
    src: url("fuentes/NanumPenScript-Regular.ttf");
}

:root {
    --color1: #ab7d7d;
    --color2: rgb(255, 228, 228);
    --color3: rgb(167, 62, 62);
    --color4: #0fc;
    --colorFondo: #000;
    --colorText: #fff;
}

* {
    margin: 0px;
    padding: 0px;
}