@media (max-height: 1000px) {

    body {
        zoom: 0.7;
    }

    #lellenda {
        display: none;
    }

    #lista {

        min-height: calc(100vh - 160px);
        margin-top: -120px;
    }

    footer {
        max-height: 100px;
    }

}

